.DS_Store
*.fa
*.pyc
*.narrowPeak
ENCSR000EGM/data/*
ENCSR000EGM/orig/shap/*
ENCSR000EGM/shap/*
ATAC/data/bams/*
BPNet-ATAC-seq/*

ATAC/data/C24signal.bedGraph
ATAC/data/C24signal.bw
ATAC/data/Cluster24.bpnet.unstranded.bw
ATAC/shap/counts_scores.h5
ATAC/shap/profile_scores.h5
ATAC/bpnet256.15.001/shap/256.15.counts_scores.h5
ATAC/bpnet256.15.001/shap/256.15.profile_scores.h5
ATAC/bpnet256.100.001.01/shap/counts_scores.h5
ATAC/bpnet256.100.001.01/shap/profile_scores.h5